<h1>Findings</h1>
<hr>
<p>One of the most important findings from the literature review is the role of 
    Blockchain technology to record system data and to maintain the integrity of the 
    data recorded in a decentralized manner. Therefore, it was found that Blockchain 
    can only guarantee the security of the system data inside the Blockchain from 
    external threats. Failure to adequately protect system’s boundaries will 
    increase the system’s attack surface, increasing the probability of an attack. 
    Additionally, no one using Blockchain is immune to attacks [1]. </p>

<p>Blockchain was found to be a target for hackers, in particular Blockchains that 
    involved cryptocurrency exchanges, with the vast majority of attacks shown to 
    occur on cryptocurrency exchanges. There was found to be a large variety of 
    vulnerabilities. It is also unknown how many Blockchain systems are hacked, 
    as not every vulnerability in Blockchain is reported. This was found to lead 
    to the potential of unknown vulnerabilities potentially being used numerous 
    times [3], [5]. By observing lists of cyber-security attacks against 
    Blockchain, it is clear that a large number of the attacks are 51% attacks, 
    with one report finding that of the 25 successful cyber-attacks recorded in 
    the last 9 years, 10 attacks were a 51% attack [3]. Although the number of 
    cybersecurity attacks has decreased in recent years, the loss and damage as a 
    result of cybersecurity crimes have increased. However, the number of 
    cyberattacks that specifically target Blockchain has remained the same or 
    slightly increased over recent years [1]. The cybersecurity incidents from 
    2011 to 2019 are displayed in figure 5, which shows both the number of attacks 
    each year and the amount lost each year. </p>

<img src="assets/images/attack-summary.png">
<br>
<div class="text">
    <p>Figure 5: Blockchain incidents from 2011 to 2019 (Only the first 6 months are recorded for 2019) [6]</p>
</div>
<br>

<p>From the two polls that I asked online, it could indicate that more people are 
    aware of the security risks of Blockchain. The first question that I asked was 
    ‘How secure is Blockchain’ with the possible answers; ‘very secure’, ‘secure’, 
    ‘somewhat secure’, ‘not very secure’, ‘not secure at all’ and ‘depends on the 
    system’. The results of the poll were two people choosing ‘secure’ and six 
    people voting for ‘depends on the system’. There were also eight comments 
    (from people who may or may not have voted), that all indicated that people 
    thought the security depended on the system [11]. The second question I asked 
    was ‘Can you trust a cryptocurrency exchange’ with the possible answers, ‘Yes’, 
    ‘Somewhat’, ‘No’ and ‘Depends’. The results of the poll were three votes each 
    for ‘Yes’, ‘Somewhat’, ‘No’ and four votes for ‘Depends’, with thirty comments 
    (from people who may or may not have voted), that all indicated that people 
    thought they could trust a cryptocurrency exchange either ‘Somewhat’, ‘No’, 
    ‘Depends’ or somewhere in between these answers. No one in the comments 
    suggested they would have answered ‘Yes’ [10]. </p>