<h1>Method and References</h1>
<hr>
<p>The reporting medium I used was a website as they are interactive and are often 
    used as a source of information.  </p>

<p>The range of sources I have used is a combination of quantitative, qualitative, 
    analytic, descriptive, and hybrid (a combination of all four). This will allow 
    me to use research that uses underlying reasons, opinions, and motivation, 
    research that relies on analysing measurements, research that attempts to 
    determine, describe or identify something and research that describes why 
    something is the way it is and how it comes to be. One tool that I did not 
    originally plan on using was an online poll which I decided to use to gauge 
    how secure people consider Blockchain is. There wasn’t very many responses and 
    the forum targets people that range from beginner to advanced, with some 
    knowledge of Blockchain. For this reason, this cannot be considered a complete 
    form of data. The questions were intentionally quite broad as the forum wasn’t 
    the right medium to use for several questions, to encourage a broad audience 
    some of whom might not be familiar with specific vulnerabilities or mechanisms 
    and to encourage a broad range of answers and exploration of ideas.</p>

<p>The scope of the research is related to the security of blockchain, why it is 
    secure or insecure, the trends of cybersecurity in Blockchain and how the 
    cybersecurity of Blockchain could be improved. The project does not include 
    alternative technology to Blockchain (technology that is not Blockchain), 
    detailed methods to use Blockchain, and the specifics of Blockchain programming. 
    I stored the data on my laptop with weekly updates. Information was collected 
    that matched the scope of the project. Using the information, I determined 
    accuracy, relevance, and reliability. I then determined what information was 
    essential, identify bias, determine omissions and inaccuracies, and find 
    relationships between data. To determine if sources are reliable I used the 
    CRAAP test. This information was then analysed and synthesized. I used a systems 
    thinking approach as the data was analysed in terms of inter-relatedness and 
    separate elements from different sources were combined. The CRAAP test involved 
    analysing the following: </p>

<ul>
    <li>Currency: This looked at when the report was published or in the case of 
        websites when the website was last updated. The oldest source used in this 
        report was from 2017, with the majority of sources published in 2019 and 
        2020. </li>

    <li>Relevance: This addressed whether the information relates to the topic and 
        whether the information was aimed at an audience that is an appropriate 
        level to be quoted and cited in my report. All sources used were deemed 
        relevant as all sources were in the scope of this report. </li>
    
    <li>Authority: This looked at who wrote the report or website and who was 
        responsible for the report or website. This could involve observing the 
        authors' credentials, whether the author is qualified to write on the topic 
        and their organisation afflictions.  The report or website could also be 
        associated with a reliable organisation or university. The majority of 
        sources used were associated with a university or a reliable organisation. 
    </li>

    <li>Accuracy: This attempted to assess the reliability, truthfulness, and 
        correctness of the information. Methods to determine this included looking 
        at where the data comes from, whether the information has been reviewed or 
        refereed, whether or not the source reviewed the information from different 
        perspectives, and whether the report uses evidence. All of the sources used 
        evidence and many sources were reviewed or agreed with other sources. </li>

    <li>Purpose: This looked at the reason that the information was written. This 
        includes examining the aim and the tone of the report or website. The 
        information could have been written to persuade, sell, teach, inform, or 
        entertain. The reason that the sources were written was assessed and taken 
        into account in the discussion. Most sources were written to teach, inform 
        or persuade. </li>
</ul>

<u>References</u>

<ol>
    <li>Technology, Lee. (2019). Systematic approach to analyzing security and 
        vulnerabilities of blockchain systems.</li>
    <li>Hasanova, H, Baek, U, Shin, M, Cho, K, Kim, M‐S. A survey on blockchain 
        cybersecurity vulnerabilities and possible countermeasures. Int J Network 
        Mgmt. 2019; 29:e2060. https://doi.org/10.1002/nem.2060</li>
    <li>A. Averin and O. Averina, "Review of Blockchain Technology Vulnerabilities 
        and Blockchain-System Attacks," 2019 International Multi-Conference on 
        Industrial Engineering and Modern Technologies (FarEastCon), Vladivostok, 
        Russia, 2019, pp. 1-6, doi: 10.1109/FarEastCon.2019.8934243.</li>
    <li>Lin, I.-C & Liao, T.-C. (2017). A survey of blockchain security issues and 
        challenges. International Journal of Network Security. 19. 653-659. 
        10.6633/IJNS.201709.19(5).01.</li>
    <li>Alkhalifah, A., Ng, A.H., Kayes, A.S., Chowdhury, J., Alazab, M., & Watters, 
        P.A. (2019). A Taxonomy of Blockchain Threats and Vulnerabilities.</li>
    <li>Ng, Alex & Alkhalifah, Ayman & Kayes, A. S. M. & Chowdhury, Mohammad & 
        Alazab, Mamoun & Watters, Paul. (2019). An empirical analysis of blockchain 
        cybersecurity incidents.</li>
    <li>Wang H., Wang Y., Cao Z., Li Z., Xiong G. (2019) An Overview of Blockchain 
        Security Analysis. In: Yun X. et al. (eds) Cyber Security. CNCERT 2018. 
        Communications in Computer and Information Science, vol 970. Springer, 
        Singapore</li>
    <li>J. Moubarak, E. Filiol and M. Chamoun, "On blockchain security and relevant 
        attacks," 2018 IEEE Middle East and North Africa Communications Conference 
        (MENACOMM), Jounieh, 2018, pp. 1-6, doi: 10.1109/MENACOMM.2018.8371010.</li>
    <li>Blockchain Luxembourg S.A., “Bitcoin”, (2020), [Online], Available: 
        https://www.blockchain.com/btc/blocks, Accessed: 5 Apr 2020
        </li>
    <li>Simple Machines Forum, “Can you trust a cryptocurrency exchange?”, (2020), [Online], 
        Available: https://bitcointalk.org/index.php?topic=5246736.0, Accessed: 7 
        May 2020</li>
    <li>Simple Machines Forum, “How secure are Blockchain systems?”, (2020), [Online],
        Available: https://bitcointalk.org/index.php?topic=5246602.msg54381234#msg54381234, 
        Accessed: 17 Apr 2020</li>
    <li>H. Anwar, “What Companies Are Using Blockchain Technology?”, (2020), [Online],
        Available: https://101blockchains.com/companies-using-blockchain-technology/, 
        Accessed: 20 Apr 2020</li>
    <li>N. Reiff, “Blockchain Explained”, (2020), [Online], Available: 
        https://www.investopedia.com/terms/b/blockchain.asp, Accessed: 2 May 2020</li>
    <li>Deloitte, “Deloitte’s 2019 Global Blockchain Survey”, (2019), Available: 
        https://www2.deloitte.com/content/dam/Deloitte/se/Documents/risk/DI_2019-global-blockchain-survey.pdf, 
        Accessed: 5 May 2020</li>
    <li>E. Stewart, “If bitcoin is so safe, why does it keep getting hacked”, (2019), [Online], Available: 
        https://www.vox.com/recode/2019/5/8/18537073/binance-hack-bitcoin-stolen-blockchain-security-safu, 
        Accessed: 15 May 2020</li>
    <li>A. Mak, “How Weird Is It That a Company Lost Hundreds of Millions in 
        Cryptocurrency Because Its CEO Died?”, (2019), [Online], Available: 
        https://slate.com/technology/2019/12/quadriga-gerald-cotten-death-cryptocurrency.html, 
        Accessed: 16 May 2020</li>
    <li>Bonneau J. (2019) Hostile Blockchain Takeovers (Short Paper). In: Zohar A. 
        et al. (eds) Financial Cryptography and Data Security. FC 2018. Lecture 
        Notes in Computer Science, vol 10958. Springer, Berlin, Heidelberg</li>
</ol>
<br>
<p>Image used for cover page</p>
Nick Ismail, “More than just cryptocurrency: The advent of blockchain for business”, (2018), 
[Online], Available: https://www.information-age.com/just-cryptocurrency-advent-blockchain-business-123470825/
Accessed: 7 Jun 2020
<br>
<br>
<p>Image used for website icon (favicon)</p>
Hello Alice, "Backstage Capital", Unknown, [Online], Available: https://helloalice.com/resources/funding/backstage-capital,
Accessed: 7 Jun 2020