<h1>Executive Summary</h1>
<hr>
<p>To ensure Blockchain can be a secure technology of the future, it is important 
    to investigate and understand the security limitations and vulnerabilities of 
    Blockchain. The scope of this research includes the security of Blockchain, why it is secure 
    or insecure, and possible improvements to the cybersecurity of Blockchain. The 
    research will not address alternate technology to Blockchain, detailed methods 
    to utilise Blockchain and the specifics of Blockchain programming. This research 
    examines the currency, relevance, authority, accuracy and purpose to address the 
    reliability of the sources. </p>

<p>It was found that Blockchain vulnerabilities can result in colossal losses of 
    money, or even cause the collapse of a business. Most system implementations of 
    Blockchain technology are focused exclusively on the cryptocurrency industry 
    resulting in colossal windfalls to hackers upon a successful cyberattack. 
    Blockchain only guarantees the security of the system data inside the Blockchain 
    from external threats. Therefore, failing to adequately protect the system’s 
    boundaries will increase the system’s attack surface, increasing the probability 
    of an attack. 
    The annual growth rate of hacking incidents and their loss targeted at Blockchain 
    systems exceeded all other types of IT systems during their technology maturity 
    periods. Furthermore, the research found that the rate of cybersecurity incidents 
    related to Blockchain has increased.  
</p>

<p>It is postulated that the current users of Blockchain generally feel that the 
    system they use is safer and more secure than previously hacked systems. However, 
    numerous organisations think lack of security is a barrier to implementing 
    Blockchain within their business. It is questioned whether Blockchain is improving 
    at an acceptable rate to be used for large amounts of cryptocurrency as it 
    appears that the cybersecurity of Blockchain is improving at a much lower rate 
    than other IT systems. This analysis concludes that there are several security 
    gaps and vulnerabilities that need to be considered when designing Blockchain 
    systems. Blockchain also requires further research to increase protection against 
    cyberattacks. Recommendations include organisations that implement Blockchain 
    following a cybersecurity framework, investing in a team of cybersecurity 
    professionals and following best practices and standards. Recommendations also 
    include increasing research into the cybersecurity of Blockchain and to increase 
    research to help the investors of Blockchain make informed decisions.

</p>
<br>
<br>
<u>Abbreviations</u>
<br>
<br>
<table style="width:50%">

    <tr>
      <td>IT</td>
      <td>Information Technology</td>
      
    </tr>
    <br>
    <tr>
      <td>IoT</td>
      <td>Internet of Things</td>
    
    </tr>
    <br>
    <tr>
        <td>dApps</td>
        <td>distributed applications</td>
    </tr>
    <br>
    <tr>
        <td>DAO</td>
        <td>Decentralised Autonomous Organisation</td>
    </tr>
    <br>
    <tr>
        <td>CRAAP</td>
        <td>Currency Relevance Authority Accuracy Purpose</td>
    </tr>
    <br>
    <tr>
        <td>ROI</td>
        <td>Return on Investment</td>
    </tr>
    <br>
    <tr>
        <td>CEO</td>
        <td>Chief Executive Officer</td>
    </tr>
</table>