<h1>Conclusion</h1>
<hr>
<p>The rate at which cybersecurity for Blockchain is improving is not fast enough to 
    reduce the number of Blockchain-related cybersecurity incidents. The 
    vulnerabilities of Blockchain implementations are present in all four security 
    domains in Blockchain system components including end-point, front-end servers 
    and applications, distributed applications and the Blockchain platform. 
    Recommendations include every business involved in Blockchain to use a 
    cybersecurity framework, investing in a team of cybersecurity professionals, 
    and following best practices and standards. Examples include wallets 
    implementing cold storage, storing keys securely and using a strong 
    proof-of-work algorithm. It is also recommended to increase research into 
    the cybersecurity of Blockchain to understand what the most effective methods 
    to increase cybersecurity are. It is also recommended to increase research to 
    help investors of Blockchain make informed decisions. The lack of cybersecurity 
    is one of the barriers preventing numerous organisations from implementing 
    Blockchain. </p>