<h1>Appendices</h1>
<hr>

<u>Appendix A</u>
<p>One company, Canada’s largest cryptocurrency exchange, lost hundreds of millions 
    in cryptocurrency because their CEO died. In January 2019, the exchange's CEO 
    and founder died from compilations of Crohn’s disease while on honeymoon in 
    India. However, one colossal flaw in the cryptocurrency’s infrastructure was that
    the CEO was the only person who had access to the $180million of cryptocurrency 
    that its users held in their accounts. This was caused by many customers keeping 
    cryptocurrency in cold wallets (hardware), allowing the money to be stored 
    offline. Keeping the cryptocurrency in cold storage means to unlock and access 
    the money, cryptographic keys (which is a string of data) need to be used. The 
    CEO kept the keys on his MacBook Pro. The CEO once previously caused panic when 
    he left his laptop on his yacht, which already departed from the dock. No one 
    can access the encrypted laptop as the CEO was the only one who knew the 
    password. Additionally, there are other reasons why a personal laptop should not 
    be used for key storage. Assuming the laptop was connected to the internet for 
    everyday tasks, a hacker could have either infiltrated or incapacitated the 
    laptop. The laptop also could have been stolen or broken. Splitting access 
    between multiple individuals to the exchanges cache of cryptocurrency is a more 
    reliable and secure way. For example, distribute part of the key between three 
    people so that any two can be combined to unlock the funds [16].  </p>
