<div class='header'>
  <a routerLink = "/" class="sidebar-header"><h3 class="sidebar-header">Blockchain</h3></a>
</div>

    <mat-nav-list class="links">

      <a mat-list-item routerLink = "/executive_summary"> Executive Summary </a>
      <a mat-list-item routerLink = "/introduction"> Introduction </a>
      <a mat-list-item routerLink = "/literature_review"> Literature Review </a>
      <a mat-list-item routerLink = "/method"> Method</a>
      <a mat-list-item routerLink = "/findings"> Findings </a>
      <a mat-list-item routerLink = "/discussion"> Discussion </a>
      <a mat-list-item routerLink = "/conclusion"> Conclusion and References</a>
      <a mat-list-item routerLink = "/appendices"> Appendices </a>

    </mat-nav-list>


