<h1>Literature Review</h1>
<hr>

<u>How Blockchain ensures security</u>
    
<p>There are numerous ways blockchain ensures security. A security feature discussed 
    by [7] is that new blocks are always stored linearly and in chronological order, 
    therefore blocks are always added to the end of the blockchain. After a block is 
    added to the end of a blockchain, it becomes very difficult to alter the contents 
    of the block. This is a result of each block containing its hash and the hash of 
    the previous block, as illustrated in figure 3. As the hash code is created by turning digital information 
    into a string of digital numbers and letters, if the digital information used to 
    create the hash is altered the hash will change as well. This can act as proof 
    that the data existed at a certain time. Therefore, if a hacker attempts to alter 
    a transaction, the block’s hash will change. However, the next block in the chain 
    will contain the old hash, therefore the hacker would be required to change this 
    hash as well, which would change the next block’s hash, resulting in the hacker 
    needing to change every block after the changed block on the blockchain. To 
    recalculate many hashes would take an enormous and improbable amount of computing 
    power. 
</p>

<img src="assets/images/chain.png">
<br>
<div class="text">
    <p>Figure 3: Appending blocks to a Blockchain [1]</p>
</div>
<br>

<p>The blockchain protocol will avoid the existence of multiple blockchains through 
    a process called ‘consensus’, a process discussed by [3] and [4]. If multiple, 
    different copies of the blockchain exist, the blockchain will take the longest 
    chain available. More users on a blockchain, mean more blocks will be added to 
    the end of the chain quicker. Thus, the blockchain will always be the one that 
    most users trust. 
</p>

<p>Blockchain has also implemented tests for computers that want to join and add 
    blocks to the chain, called ‘consensus models’. According to [3] and [6], this 
    is a process that requires users to prove themselves before participating in the 
    blockchain network. An example of this is a method employed by Bitcoin called 
    proof-of-work, in which computers must prove that they have done work by solving 
    a complex computational math problem, that is easy for others to verify. [4] 
    describes how producing a proof-of-work can be a random process with low 
    probability, and therefore, a lot of trial and error is required on average 
    before a valid proof-of-work is achieved. Solving one of these problems allows 
    the computer to add blocks to the blockchain.  Due to the low probability of 
    solving these problems, it is unpredictable which computer in the network will 
    generate the next block. The process of adding a block to the blockchain is known 
    as mining. According to [13] in January 2020, the odds of solving one of the 
    problems on the Bitcoin network is about one in 15.5 trillion. Therefore, to 
    solve a complex math problem with these odds requires computers to run programs 
    that need significant amounts of power and energy, and therefore money. If a 
    hacker wanted to coordinate an attack on the blockchain they would need to 
    control more than 50% of all computing power on the blockchain, to overwhelm 
    all other participants on the network [17]. 
</p>

<p>As proof-of-work wastes a lot of electricity and computing power, there is another 
    method that computers can prove themselves, known as proof of stake. As described 
    by [3] and [4] instead of comparing computing power, proof of stake will compare 
    the amount of Bitcoin the miner holds. Therefore, a miner holding 1% of the 
    Bitcoin, can mine 1% of the proof of stake holds. In this case, executing an 
    attack would be more expensive and would reduce the incentives for an attacker, 
    as the attacker would need to own nearly a majority of all the bitcoin, resulting 
    in the attacker suffering severely from their attack [13]. 
</p>

<p>The main security features described by [1] are:</p>

<ul>
    <li>Decentralisation: Meaning there is no single point of failure and all nodes 
        can see transactions on the system network. </li>
    <li>Confidentiality: Users can verify the identity using public-key cryptography. 
        This authentication ensures the anonymity of transaction and transmission 
        data. </li>
    <li>Integrity: All data transactions are signed and include a time-stamp. 
        Therefore, all nodes can be easily validated and it is possible to easily 
        trace the history of transactions.  </li>
    <li>Transparency: All data transactions should have consensus from all the other 
        nodes in the network. </li>
    <li>Immutability: Once data is added it cannot be modified or deleted. As all 
        data and transactions occurring in the system can be viewed, validated and 
        verified by all peer participants, it makes it virtually impossible for a 
        user within the system to invisibly alter the data. </li>
</ul>

<p>However, source [4] notes the main features of Blockchain are decentralisation, 
    transparency, immutability but also:</p>

<ul>
    <li>Open Source: As most Blockchain systems are open to everyone allowing the 
        record to be checked publicly. Furthermore, anyone can use Blockchain to 
        implement any system they want. 
    </li>

    <li>Autonomy: As Blockchain implements consensus any node on the Blockchain 
        can transfer and update data safely. </li>

    <li>Anonymity: Transfer of data and transaction can be anonymous as only the 
        person’s Blockchain address needs to be known. </li>    
</ul>

<p>In contrast, [8] describes the main security characteristics to include 
    immutability, integrity, transparency and also:
</p>

<ul>
    <li>Auditability: Each block uses cryptographic schemes and secure timestamping 
        allowing inspection of each transaction. 
    </li>

    <li>Authorisation: The links between the blocks are created by the Elliptical 
        Curve Signature Algorithm. 
    </li>

    <li>Fault Tolerance: Many mechanisms are involved in consensus. </li>

    <li>Availability: When peers exit the network, the Blockchain is still constantly 
        available.</li>

    <li>Consistency: After the miners agree in the consensus and block arrangement 
        the Blockchain is consistent and changes are infeasible.</li>

    <li>Privacy: The Blockchain is public, however, the keys relative to each party 
        are anonymous. </li>
</ul>

<p>As stated by [1], ‘Blockchain is a technology for data management in the 
    distributed system environment’ Therefore, Blockchain will only guarantee the 
    security of system data inside the Blockchain boundary from external threats. </p>


<u>Vulnerabilities discovered on Blockchain systems</u>

<p>To analyse attacks and security incidents to Blockchain systems [1] performed a 
    threat modelling exercise and identified the threats data spoofing, data 
    tampering, denial of service, escalation of privileges, data disclosure and 
    non-repudiation broken. This paper also categorized four security domains in 
    Blockchain system components’ end-point (computers, terminals and mobile 
    devices), front-end server/application (a front-end facing server and an 
    application such as a web server for a wallet), distributed application 
    (propriety applications that run based on Blockchain) and the Blockchain 
    platform (includes Blockchain elements such as nodes and shared data). These
    security domains are depicted in figure 4. 
    Front-end server applications were found to be the most commonly exploited 
    domain from 2011 to mid-2018, with dApps being the least exploited domain. 
    However, by analyzing the total loss due to cyberattacks from 2011 to mid-2018, 
    the highest total loss was recorded by dApps, with the smallest loss recorded 
    from front-end server applications. </p>

    <img src="assets/access.png">
    <br>
    <div class="text">
        <p>Figure 4: Blockchain security domains [1]</p>
    </div>
    <br>

<p>In contrast, [5] divided Blockchain vulnerabilities specific into five categories:</p>

<ul>
    <li>Clients’ vulnerabilities: This involves how humans interact with Blockchain 
        and include vulnerabilities such as digital signature vulnerabilities, hash 
        function vulnerabilities, mining malware and software flaws. 
    </li>

    <li>Consensus mechanism vulnerabilities: This is related to how blocks use a 
        consensus algorithm that should be efficient and secure. This includes 
        vulnerabilities such as the 51% attack. </li>
    <li>Mining Pool vulnerabilities: This refers to tactics used by attacks to 
        disrupt the normal operation of the blockchain network. This includes the 
        Transaction Malleability attack where an attacker alters the transaction 
        identifier without revoking the transaction, allowing the attacker to 
        continuously withdraw. In 2014, Mt Gox, the largest platform for Bitcoin 
        trading, was attacked. Bitcoins worth up to US$450 million were stolen, 
        leading to the collapse of Mt Gox. Mt. Gox, one of the largest exchanges in 
        Bitcoin history fell victim to the transaction malleability attack. Mt Gox 
        declared bankruptcy after losing coins values at over US$450 million, after 
        the attackers performed a transaction malleability attack, forcing the 
        exchange to freeze user’s accounts and halt withdraws.</li>
    <li>Smart Contract vulnerabilities: These are attacks related to smart contracts, 
        which is an agreement between several people in computer code. </li>
</ul>

<p>One common method of attacking Blockchain systems is known as the 51% attack, the 
    majority attack or Goldfinger, described by [2]. This attack makes it possible 
    for a hacker to take advantage of the fact that blockchain will always be the one 
    that most users trust. This attack can be explained with the following example; 
    Say there are one million computers on a particular blockchain network. To 
    achieve the majority of the network a hacker would need to control at least half 
    a million and one of the total one million computers. The attacker or the group 
    of attackers now act as a miner, or a group of miners and would then be able to 
    interfere with transactions. For example, the attackers could send a transaction, 
    and then reverse it, making it appear as though they still had the coin they 
    just spent. This vulnerability which allows an attacker to spend their 
    cryptocurrency twice is known as double-spending. This would be quite difficult 
    to do with a network the size of Bitcoin as an attacker would need to gain 
    control of millions of computers, but is much easier on smaller networks. 
    However, according to [13] it is not necessarily in the attackers’ interest, 
    as attacking the network requires the attacker to spend millions or even 
    billions to buy up all the mining equipment. Once the attackers do this, they 
    won’t be able to make that much money from it. Source [2] also describes a more 
    severe case of the 51% attack that can occur when an attacker holds more than 
    67% of the stake allowing the attacker to block any transactions. The 51% attack 
    was more feasible in the past when transactions were worth significantly more 
    than the mining reward and when the network hash rate was lower. Source [3] 
    reviewed that attacks in recent years and found out of the 25 successful 
    cyber-attacks analysed over the past 9 years, 10 attacks were 51% attacks. 
</p>

<p>As well as discussing the 51% attack, source [4] also discussed another 
    vulnerability known as a fork problem. These occur when a new version of 
    Blockchain software is published to the nodes leading to a divide in old nodes 
    and new nodes. Source [6] analysed 65 cybersecurity incidents and found that 
    Blockchain exchanges suffered most of the attacks with a significant amount of 
    loss. In contrast, [7] choose to analyse each layer of Blockchain (application 
    layer, smart contract layer, incentive layer, consensus layer, network layer and 
    data layer) to analyse the security of Blockchain. The report found more and more 
    new types of security threats are developed targeting Blockchain. The security 
    challenges identified by [8] included threats to the consensus algorithm, 
    vulnerabilities to wallets, smart contract vulnerabilities, lightweight clients 
    (that have lower security than standard nodes) and breaking cryptography. It was 
    identified by [5] that 8833 existing Ethereum (a type of cryptocurrency similar 
    to Bitcoin) smart contracts, equivalent to 3,068,654 million Ethers, are 
    vulnerable which is approximately equal to US$30 million. Huge financial losses 
    can also occur due to vulnerabilities in smart contracts. In 2016, attackers 
    managed to exploit a vulnerability of Blockchain, to steal Ethers that totalled 
    more the US$60 million from DAO, a set of smart contracts utilising the Ethereum 
    Blockchain.
</p>

<p>The annual growth rate of hacking incidents and their loss, targeted at Blockchain 
    systems, exceeded all other types of IT systems during their technology maturity 
    periods [1]. According to [1], although the number of cybersecurity events has 
    been declining, the loss and damage from cybersecurity crimes have increased. 
    However, in the case of cybersecurity attacks that target Blockchain, the number 
    of attacks has either increased slightly or stayed the same. The loss and damage 
    incurred from cybersecurity attacks targeted against Blockchain have also 
    increased. 
</p>

<p>There has not been a lot of research into the security of Blockchain. No reports 
    have addressed the vulnerabilities of Blockchain, the trends of security 
    incidents in Blockchain and the effect this is having on the perceived 
    cybersecurity of Blockchain systems in one report. 
</p>