<h1>Discussion</h1>
<hr>
<p>Blockchain technology itself is extremely secure. The security of Blockchain is 
    limited, maintaining data security by distributing the data to all the nodes. 
    Blockchain alone cannot handle data which requires privacy such as military 
    classified information or corporate business secrets. Blockchain cannot perform 
    forms of data processing other than storage, such as modification and deletion. 
    Separate security protections must be implemented to protect the rest of the 
    data processing tasks other than the Blockchain system level. It is dangerous 
    to assume that Blockchain can protect the entire system environment. 
    Additionally, as Blockchain has no centralized control or management, 
    cyber-attacks can have a colossal effect on incident response and emergency 
    response for the Blockchain system. </p>

<p>The majority of attacks on Blockchain systems are as a result of an exchange or 
    wallet which stores a large number of cryptographic keys. However, most of the 
    attacks rely on vulnerabilities in the way cryptocurrency is transferred and 
    stored. Similar to how other organisations are susceptible to cyber-attacks, 
    so are cryptocurrency exchanges and wallets. Any systems that use Blockchain 
    for storing or transferring cryptocurrency are at a greater risk than most 
    Blockchain users as it can be hacked with minimal effort and extremely large 
    amounts of money can be gained, sometimes resulting in business closure 
    (see figure 6). Cryptocurrency is riskier than storing money in 
    banks as it is a lot harder to steal money from a bank and get away with the 
    crime. In contrast, it is much easier for hackers to steal cryptocurrency without 
    getting caught as they are only identified with numbers. Additionally, once an 
    attacker steals a cryptocurrency key, there is no way of getting the key and 
    therefore, the cryptocurrency back unless the attacker gives it back. This 
    leads to a possible conclusion that no paper indicates. If the reason why 
    exchanges, wallets and smart contracts are highly targeted is due to large 
    windfalls of money it is likely that other implementations of Blockchain are 
    extremely vulnerable too and could be easily hacked if an attacker had a 
    stronger motivation to do so. </p>

    <img src="assets/images/business-close.png">
    <br>
    <div class="text">
        <p>Figure 6: The number of businesses that closed due to a cyber attack compared to the overall
            number of cyber attacks. [1]
        </p>
    </div>
    <br>

<p>Despite the number of security incidents, a large number of people and businesses 
    use Blockchain as they believe it is safe and secure, at least to a certain 
    extent. Most users were found to feel that these incidents are a result of human 
    mistakes, programming errors, an immature use of the technology, or government 
    regulations [1]. Of the people that responded to my questions and replied that 
    they believed systems that use Blockchain including exchanges were not completely 
    untrustworthy, believed that the problem lied with the particular system, where 
    the system was located, how regulated the system was, companies that use unsecure 
    software and if they were old or not very well known. This finding aligns with 
    the results from [1]. I agree that the people that use Blockchain tend to feel 
    that the system they use is safer and more secure than previously hacked systems, 
    however, I believe there are also a reasonably large number of people that would 
    not use these systems because they believe the technology around implementing a 
    Blockchain system is not secure enough or they don’t have the budget or knowledge 
    to make a system that securely uses Blockchain. This is demonstrated by [14] 
    which showed potential barriers to organisations using Blockchain in 2019. 29% 
    wouldn’t invest in Blockchain due to potential security threats, 28% wouldn’t 
    due to a lack of skills or understanding and 20% wouldn’t invest in Blockchain 
    as they deemed the technology unproven.  However, this only considers 
    organisations, I think there would be a greater percentage of people that would 
    not feel comfortable investing in Blockchain either due to the security risks 
    or because they don’t believe they would have the resources to make their use 
    of Blockchain as secure as it should be.</p>

<p>One paper, [4] states that ‘some problems have already been improved along with 
    new technique’s developing on the application side, getting more mature and 
    stable. The government have to make corresponding laws for this technology, and 
    enterprise should be ready for embrace blockchain technologies, preventing it 
    brings too much impact to current system.’ I don’t agree with this statement as 
    other papers have suggested that Blockchain is not improving at an acceptable 
    rate to be used for large amounts of cryptocurrency. Although the number of 
    cybersecurity attacks has decreased in recent years, the loss and damage as a 
    result of cybersecurity crimes have increased. This could indicate that 
    cybersecurity is improving, however, cyberattacks are becoming more targeted, 
    planned and sophisticated. When comparing this to the number of cyberattacks 
    that specifically target Blockchain, the number of attacks has remained the 
    same or slightly increased over recent years. This suggests that while other 
    aspects of the IT industry are working on becoming more secure, the 
    cybersecurity protection of Blockchain systems is not improving quickly 
    enough [1]. Several companies have even fallen victim to multiple cybersecurity 
    attacks targeting Blockchain, as shown in figure 7. Additionally, although several of 
    the vulnerabilities discovered may be obsolete in the future, new vulnerabilities 
    are likely to be discovered [5]. Paper [7] also concludes that ‘with the 
    expansion of its application, more and more new types of threats are emerging 
    targeted on the blockchain.’</p>

    <img src="assets/images/no-attacks.png">
<br>
<div class="text">
    <p>Figure 7: The number of organisations which experienced multiple cyber attacks compared 
        to the total number of cyberattacks in the year</p>
</div>
<br>
<p>In paper [2], it concludes that ‘there are some security concerns that prevent 
    this technology from being used as a general platform in other implementations 
    around the world’. This statement indicates that security is the only issue 
    preventing the use of Blockchain around the world. I would disagree with this 
    statement as according to [14], which performed a survey in the barriers to 
    organisations investing in Blockchain technology in 2019, 30% answered 
    replacing or adapting legacy systems, 28% uncertain ROI, 25% had concerns on 
    the sensitivity of competitive information, 23% lack of a compelling application 
    of the technology and 17% did not currently identify investing in Blockchain 
    technology as a business priority. This indicates that many organisations 
    identify other reasons preventing them from investing in Blockchain.</p>

<p>It is also rather dangerous to describe Blockchain as ‘unhackable’ without 
    referring to the vulnerabilities that occur on systems that utilize Blockchain. 
    Rather than describing investment in cryptocurrencies as secure, it would be 
    more important to educate investors on the risks associated with a system that 
    utilizes Blockchain such as those described in [3]. For example, it is 
    considered more secure to pick an exchange that regularly uses cold storage 
    (hardware), insurance and follows regulations. Regulations on cryptocurrency 
    can vary by country, with some exchanges being required to follow stricter 
    guidelines. Investors should be informed to invest in exchanges that follow 
    the correct procedures. One of the methods used by one of the companies that 
    were hacked, Binance was to use a ‘hot wallet’ which was their storage that 
    connected to the internet, containing 2% of their Bitcoins. However, the 
    majority of the Bitcoin was kept in ‘cold storage’ allowing the bitcoin to be 
    kept offline. Even though Binance were hacked, the hackers were not able to 
    steal the majority of the Bitcoins [15]. This is a good method to keep 
    cryptocurrency safe, however, they can still be attacked and contain 
    vulnerabilities (see <a href="appendices">Appendix A</a> for an unusual example). </p>

<p>I agree with [3], which concludes that there are ‘security gaps and 
    vulnerabilities that need to be taken into account and protected in the design 
    process of new systems’ and [7] which finds that ‘the way to strengthen the 
    security protection of blockchain needs further research’. This is in contrast 
    to [4] which believes the government needs to make more laws to increase the 
    cybersecurity of the system. Although this should be considered as well, I don’t 
    believe it will make Blockchain systems more secure as hackers don’t believe 
    they can get caught as easily and can hack from all over the world. Some methods 
    to protect Blockchain systems from 51% attacks include not allowing a single 
    miner to have a large amount of the computing power on the network as many 51% 
    attacks have occurred when an individual malicious miner, controls more than 51% 
    of the computing power. By observing a Blockchain network, if you click on a 
    miner it will tell you the network share of the miner. Using a strong 
    proof-of-work consensus algorithm also makes 51% attacks very expensive. If 
    a company implements a Blockchain system it is important to have a team that 
    can monitor the way the company uses Blockchain. This includes ensuring all 
    corporate policies, standards and common security platforms are used, checking 
    for weaknesses in the protocol and ensuring the systems with access to the 
    Blockchain are secure. Many Blockchain attacks have resulted from companies 
    needing to improve their security practices. Attacks such as ransomware, 
    viruses, spear-phishing and insider attacks are all possible methods of attack 
    to the Blockchain system. I agree with [6] which highlights the need for 
    additional security features for exchanges ‘such as enhanced cryptography 
    techniques for integrity, and mechanism in defence against malware and other 
    active threats’. At the moment, I don’t believe that people should store or 
    trade money on Blockchain systems that they aren’t prepared to lose and 
    believe storing large amounts of cryptocurrency is insecure. </p>